/.editorconfig           export-ignore
/.gitattributes          export-ignore
/.gitignore              export-ignore
/.github                 export-ignore
/index.php               export-ignore
/sql                     export-ignore
/examples                export-ignore

* text=auto eol=lf
